# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Entornos virtuales
.venv/
venv/
env/

# Variables de entorno
.env

# Tests / cobertura
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

# Base de datos local
*.sqlite3
*.db

# IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db
